header {
    text-align: center;
    font-size: 50px;
    color: royalblue;
}

h1 {
    text-align: center;
    color: red;
}

table {
    height: 400px;
    width: 400px;
    margin: 100px auto;
    border-collapse: collapse;
    border-style: hidden;
    table-layout: fixed;
    column-width: 160px;
    
}

table td {
    border: 5px solid black;
}

td {
    font-size: 140px;
    text-align: center;
    height: 160px;
}

#replay {
    margin: 0 auto;
    display: block;
}