header {
    text-align: center;
}

table {
    height: 400px;
    width: 400px;
    margin: 200px auto;
    border-collapse: collapse;
    border-style: hidden;
    table-layout: fixed;
}

table td {
    border: 5px solid black;
}